* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgb(231, 231, 0);
}

#input-wrapper {
  height: 70px;
  width: 500px;
  margin-top: 10%;
  position: relative;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

/* @keyframes fadeIn {
  0% {
    height: 0px;
    opacity: 0;
  }

  20%{
    opacity: 1;
  }

  100%{
      height: 70px;
  }
} */

#input-wrapper:has(input:focus):not(:has(button:focus)) {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

#add-task {
  font-weight: 600;
  font-family: "science gothic", Courier, monospace;
  font-size: larger;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  border-radius: 0px 15px 0px 0px;
  border: none;
  -webkit-border-radius: 0px 15px 0px 0px;
  -moz-border-radius: 0px 15px 0px 0px;
  -ms-border-radius: 0px 15px 0px 0px;
  -o-border-radius: 0px 15px 0px 0px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#add-task:hover {
  cursor: pointer;
}

#update-task {
    display: none;
  font-weight: 600;
  font-family: "science gothic", Courier, monospace;
  font-size: larger;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  border-radius: 0px 15px 0px 0px;
  border: none;
  -webkit-border-radius: 0px 15px 0px 0px;
  -moz-border-radius: 0px 15px 0px 0px;
  -ms-border-radius: 0px 15px 0px 0px;
  -o-border-radius: 0px 15px 0px 0px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#update-task:hover {
  cursor: pointer;
}

input {
  font-family: serif;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 3px 5px 0px rgb(203, 203, 0);
  transition: all 0.5s ease both;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease both;
  -ms-transition: all 0.5s ease both;
  -o-transition: all 0.5s ease both;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
}

input:focus {
  border: none;
  outline: none;
}

input::placeholder {
  color: rgb(219, 219, 219);
}

#new-task-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "science gothic", Courier, monospace;
  height: 70px;
  width: 500px;
  margin-top: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 5px 0px rgb(169, 169, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: white;
  animation: fadeIn 1s ease;
  -webkit-animation: fadeIn 1s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#btn-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

#update, #delete{
    height: 50%;
    aspect-ratio: 1 / 1;
    border: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#update:hover, #delete:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#delete{
    margin-left: 5%;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
    background-image: url(./assets/icons/delete.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#update{
    background-image: url(./assets/icons/edit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#new-task{
  top:50%;
  /* border: 1px solid black; */
}