* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgb(231, 231, 0);
}

#input-wrapper{
    height: 5vw;
    width: 35vw;
    margin-top: 10%;
    position: relative;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#new-task{
   font-family: 'science gothic', Courier, monospace;
   padding: 2px;
   height: 5vw;
   width: 35vw;
   margin-top: 5px;
   border-radius: 5px;
   transition: all 0.5s ease;
   box-shadow: 0px 0px 2px 1px rgb(156, 156, 0);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   background-color: white;
   animation: fadeIn 0.5s ease;
   -webkit-animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
}
    to{
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}

#input-wrapper:has(input:focus):not(:has(button:focus)) {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

#add-task{
    font-weight: 600;
    font-family: 'science gothic', Courier, monospace;
    font-size: larger;
    position: absolute;
    top: 0;
    right:0;
    height: 100%;
    width: 20%;
    border-radius: 0px 15px 0px 0px;
    border: none;
    -webkit-border-radius: 0px 15px 0px 0px;
    -moz-border-radius: 0px 15px 0px 0px;
    -ms-border-radius: 0px 15px 0px 0px;
    -o-border-radius: 0px 15px 0px 0px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#add-task:hover{
    cursor: pointer;
    
}

input{
    font-family: serif;
    border: none;
    padding: 10px;
    font-size: 1.5em;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 3px 5px 0px rgb(203, 203, 0);
    transition: all 0.5s ease both;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease both;
    -ms-transition: all 0.5s ease both;
    -o-transition: all 0.5s ease both;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
}

input:focus{
    border: none;
    outline: none;
}

/* input:focus  */

input::placeholder{
    color: rgb(219, 219, 219);
}