*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    background-color: gray;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 250px;
    font-size: xx-large;
    margin-bottom: 200px;
}

.btn-container{
    width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.btn-container > button{
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: -140px;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 4px 0.1px black;
    border: none;
}

.btn-container > button:first-child{
    background-color: red;
}

.btn-container > button:last-child{
    background-color: greenyellow;
}

.btn-container > button:hover{
    color: white;
    background-color: black;
    box-shadow: 0px 0px 10px 1px white;
    transform: scale(1.1);
}

h1, h2{
    text-shadow: 0px 0px 5px black;
}

h1{
    font-size: 80px;
    font-weight: bold;
    color: beige;
    letter-spacing: 10px;
}

h2{
    color: greenyellow;
}