*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
}

main{
    height: 100%;
    background-color: #2C3034;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #4e5357, #2C3034 70%);
    width: 150px;
    height: 300px;
    min-width: 150px;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 0px #212427;
    padding: 5px;
    padding-top: 20px;
}

.btn-container{
    height: 70%;
}

button{
    height: 32px;
    width: 32px;
    margin-bottom: 4px;
    color: rgb(174, 174, 174);
    border-radius: 100%;
    border: none;
    background: linear-gradient(160deg,  #4e5357,#3f4346 70%);
    box-shadow: 1px 1px 2px 0px #212121;
    position: relative;
}

.equal{
    height: 64px;
    border-radius: 5px;
}

.equal::after{
    height: 64px;
    border-radius: 5px;
}

button::after{
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: -1px -1px 3px 0px #687077;
    position: absolute;
    top: 0px;
    left: 0px;
}

h1, p{
    text-align: right;
    
}

h1{
    height: 10%;
    color: rgb(202, 202, 202);
}

p{
    color: rgb(146, 146, 146);
    height: 5%;
}