* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: linear-gradient(
    360deg,
    rgb(0, 0, 0),
    rgb(92, 92, 92),
    rgb(0, 0, 0)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  height: 30%;
  margin: 1%;
}

#header-box {
  height: 95%;
  aspect-ratio: 1 / 1;
  border: 0.07vw solid black;
  box-shadow: 0px 0px 5px 0px black;
}

.score-container {
  height: 100%;
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  border: 6px solid rgb(55, 255, 0);
  background-color: rgba(45, 207, 0, 0.7);
}

.score-container > span {
  font-size: 2em;

  font-family:
    "science gothic", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  width: 100%;
}

#box-container {
  display: grid;
  margin: 0px auto;
  width: 98%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}

.game-box {
  aspect-ratio: 1 / 1;
  border: 0.3vw solid balck;
  box-shadow: 0px 0px 6px 0px black;
  animation: lefBoxesPan 1s ease;
  animation-fill-mode: both;
}

.box1 {
  animation: lefBoxesPan 1s ease;
  animation-fill-mode: both;
}
.box2 {
  animation: lefBoxesPan 1.2s ease;
  animation-fill-mode: both;
}
.box3 {
  animation: lefBoxesPan 1.4s ease;
  animation-fill-mode: both;
}
.box4 {
  animation: lefBoxesPan 1.6s ease;
  animation-fill-mode: both;
}
.box5 {
  animation: lefBoxesPan 1.8s ease;
  animation-fill-mode: both;
}
.box6 {
  animation: lefBoxesPan 2.0s ease;
  animation-fill-mode: both;
}
.box7 {
  animation: lefBoxesPan 2.1s ease;
  animation-fill-mode: both;
}
.box8 {
  animation: lefBoxesPan 2.2s ease;
  animation-fill-mode: both;
}
.box9 {
  animation: lefBoxesPan 2.3s ease;
  animation-fill-mode: both;
}
.box10 {
  animation: lefBoxesPan 2.4s ease;
  animation-fill-mode: both;
}
.box11 {
  animation: lefBoxesPan 2.5s ease;
  animation-fill-mode: both;
}
.box12 {
  animation: lefBoxesPan 2.6s ease;
  animation-fill-mode: both;
}
.box13 {
  animation: lefBoxesPan 2.7s ease;
  animation-fill-mode: both;
}
.box14 {
  animation: lefBoxesPan 2.8s ease;
  animation-fill-mode: both;
}
.box15 {
  animation: lefBoxesPan 2.9s ease;
  animation-fill-mode: both;
}
.box16 {
  animation: lefBoxesPan 3.0s ease;
  animation-fill-mode: both;
}
.box17 {
  animation: lefBoxesPan 3.1s ease;
  animation-fill-mode: both;
}
.box18 {
  animation: lefBoxesPan 3.2s ease;
  animation-fill-mode: both;
}
.box19 {
  animation: lefBoxesPan 3.3s ease;
  animation-fill-mode: both;
}
.box20 {
  animation: lefBoxesPan 3.4s ease;
  animation-fill-mode: both;
}
.box21 {
  animation: lefBoxesPan 3.5s ease;
  animation-fill-mode: both;
}
.box22 {
  animation: lefBoxesPan 3.6s ease;
  animation-fill-mode: both;
}
.box23 {
  animation: lefBoxesPan 3.7s ease;
  animation-fill-mode: both;
}
.box24 {
  animation: lefBoxesPan 3.8s ease;
  animation-fill-mode: both;
}
.box25 {
  animation: lefBoxesPan 3.9s ease;
  animation-fill-mode: both;
}
.box26 {
  animation: lefBoxesPan 4.0s ease;
  animation-fill-mode: both;
}
.box27 {
  animation: lefBoxesPan 4.1s ease;
  animation-fill-mode: both;
}
.box28 {
  animation: lefBoxesPan 4.2s ease;
  animation-fill-mode: both;
}

@keyframes lefBoxesPan {
  from {
    transform: translateX(-1000px);
    opacity: 0.2;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

#try-again {
  font-size: 1.5em;
  font-weight: bold;
  font-family: monospace;
  color: white;
  animation: pop-up 1s ease;
  animation-fill-mode: both;
}

@keyframes pop-up {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}