*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Science Gothic', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 230px;
    height: 200px;
}

h3{
    color: white;

}

input{
    width: 100%;
    height: 2em;
    border: 1px solid;
    border-radius: 2px;
    padding-left: 5px;
    outline: none;
}



label{
    text-shadow: 0px 0px 10px white;
    font-weight: bold;
}

#calculate{
    box-shadow: inset 0px 0px 5px 0px black;
    border-color: black;
    padding: 5px 10px;
    margin-top: 10px;
    padding-top: 7px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

#calculate:hover{
    transform: scale(1.1);
}