* {
	color: white;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
	background-color: black;
}

#note {
	display: none;
}

#note > span{
	color: red;
}
